@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --dark-color-a: #1e1e1e;
  --dark-color-b: #252526;
  --dark-color-c: #3c3c3c;
  --light-color-a: #ffffff;
  --light-color-b: #dbdbdb;
  --main-color: #007acc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.nav-bar {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  height: 60px;
  border-bottom: 1px solid rgb(117, 117, 117);
  z-index: 10;
}

.nav_logo {
  /* width: 10%; */
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;

}

.nav_logo>img {
  height: 40%;
}

.nav_container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav_container>button, .nav_container>div{
  margin-right: 10px;
}

.nav_container>button:active{
  background: #007acc;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  color: white;
}
.nav_container>button:focus{
  box-shadow: none;
  outline: none !important;
}

#userCount{
  color: #007acc;

}
/* ====================sidebar============================= */

.sidebar {
  position: fixed;
  right: 0;
  top: 50px;
  height: 100%;
  width: 250px;
  transform: translateX(250px);
  background: #000;
  padding: 6px 14px;
  z-index: 1;
  /* display: none; */
  /* opacity: 0; */
  transition: all 0.5s ease;
}

.sidebar.open {
  /* width: 250px; */
  transform: translateX(0);
  opacity: 1;
  /* display: block; */
}



.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: var(--light-color-a);
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}


.sidebar_roomid{
  margin-top: 20px;
  display: flex;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: var(--dark-color-a);
  color: #ffffff;
  cursor: pointer;
}
.sidebar_roomid:active i{
  color: var(--dark-color-a);
}
.sidebar_roomid:active{
  color: var(--dark-color-a);
  background: #fff;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
  padding-left: 0;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
  width: 100%;
  text-transform: capitalize;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: var(--light-color-a);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: var(--light-color-a);
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: var(--dark-color-c);
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: var(--dark-color-c);
  color: var(--light-color-a);
}

.sidebar.open .bx-search:hover {
  background: var(--dark-color-c);
  color: var(--light-color-a);
}

.sidebar .bx-search:hover {
  background: var(--light-color-a);
  color: var(--dark-color-a);
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: var(--dark-color-a);
}

.sidebar li a:hover {
  background: var(--light-color-a);
}

.sidebar li a .links_name {
  color: var(--light-color-a);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: var(--dark-color-a);
  
}

.sidebar li i , .sidebar_roomid i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: var(--dark-color-b);
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: var(--light-color-a);
  white-space: nowrap;
}

.sidebar li.profile .job {
  font-size: 10px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: var(--dark-color-b);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;
  background: var(--dark-color-c);
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  height: 100vh;
  display: flex;
}

.sidebar.open~.home-section {
  left: 250px;
  width: calc(100% - 250px);
}

/* !================================================= */
.home-section .text {
  display: inline-block;
  color: #252526;
  font-size: 25px;
  font-weight: 500;
  /* margin: 0 ; */
  padding: 50px 0;
}

.text {
  background: #E7E7E7;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  margin: 3px;

}

.text textarea {
  resize: none;
  width: 100%;
  height: 34%;
  font-size: 1.4rem;
  padding: 10px;
  resize: vertical;
  overflow-y: scroll;
}

.text textarea:focus {
  outline: none;
}

.iframe-container {
  background: white;
  /* width: 50%; */
  height: 100vh;
  margin: 3px;
}

#viewer {
  width: 100%;
  height: 100%;
  /* padding: 50px 0; */
}

.split {
  width: 100%;
  height: 100%;
}

.gutter {
  cursor: e-resize;
  height: 100%;
  background: grey;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
}

.CodeMirror {
  font-size: 16px;
  resize: vertical;
  overflow-y: scroll;
}

#themeDropDownMenu{
  max-height: 500px;
  overflow-y: scroll;
}



/*! ==================| Main Section |=================== */


@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}