html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}


*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}



/* ============ Main Section ========== */
#main_section {
  width: 100%;
  height: 100%;
  position: absolute;
  top:60px;
  left: 0;
  /* padding-left:80px; */
  padding-bottom:60px;

}

.resizable-x,
.resizable-y {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.resizable-y {
  flex-direction: column;
}

.resizer-x,
.resizer-y {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  background: black;
  padding: 4px;
}
.resizer-x{
  align-items: center;
}
/* 
.resizer-x{
  flex-direction: column;
  cursor: row-resize;
} */
.resizer-y{
  position: relative;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* margin-left: 4px; */
  background: black;
  color: white;
  padding: 4px;
}

.resizer-x {
  z-index: 2;
  cursor: col-resize;
}
.resizer-x::before,
.resizer-x::after {
  content: "";
  width: 2px;
  height: 16px;
  margin: 2px;
  background: lightgray;
}


.resizer-y {
  z-index: 1;
  cursor: row-resize;
  flex-direction: column;
}


textarea{
    width: 100%;
    height: 100%;
    resize: none;
    background: #fff;
}
iframe{
    background: #fff;
    border: none;
}

/*! ============ Layout 3 ========== */
.resizable-y.l-3{
  flex-direction: column-reverse;
}



.resizer-y.l-3::before,
.resizer-y.l-3::after{
  content: "";
  width: 16px;
  height: 2px;
  margin: 2px;
  background: lightgray;
}

/* .resizer-x.l-3::before,
.resizer-x.l-3::after {
  content: "";
  width: 16px;
  height: 2px;
  margin: 2px;
  background: lightgray;
} */

.resizer-x.l-3::before,
.resizer-x.l-3::after{
  content: "";
  width: 0px;
  height: 0px;
  margin: 0px;
}

.resizer-x.l-3{
  position: relative;
  flex-direction: column-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 4px;
  cursor:default;
}

.editor_l-3{
  display: flex;
}
.editor_l-3>div{
  width: 95%;
}
.editor_l-3>span{
  width: 5%;
  background: #000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  cursor: col-resize;
}
.editor_l-3>span::before,
.editor_l-3>span::after {
  content: "";
  width: 2px;
  height: 16px;
  margin: 2px;
  background: lightgray;
}


/*! =============================== */
/* ============ tags ========== */
.html{
  color: orange;
  font-weight: 600;
}
.css{
  color: skyblue;
  font-weight: 600;
}
.js{
  color: yellow;
  font-weight: 600;
}
/* ============ CodeMirror ========== */
.CodeMirror{
  /* height: 100%; */
  height: 86%;
  width: 100%;
  resize: none;
}
